@model IEnumerable<TODOList.Models.Cliente>

@{
  ViewData["Title"] = "Cliente";
}

@{
  if (Program.EstaLogado)

  {

    <h1>Clientes</h1>

    <p>
      <a asp-action="Create">Criar Novo</a>
    </p>
    <table class="table tabela" style="width:100%">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Email)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.TipoUsuario)
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.TipoUsuario)
            </td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
              <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
              <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
          </tr>
        }
      </tbody>
    </table>

    }
  }


